<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  
  <appSettings>
    <add key="GPKey" value="efa241df1f24c1f9760430dee2fca06b"/>
    <add key="GPURL" value="http://apis.baidu.com/apistore/stockservice/stock"/>
    <!--股票查询列表(sh600030,sz002673)-->
    <add key="GPPamamList" value="sh600030,sz002673"/>
  </appSettings>
</configuration>